# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Flask instance folder (if exists)
instance/

# Environment variables file
.env

# Database files
*.db
*.sqlite3

# Pytest cache
.pytest_cache/

# VSCode settings
.vscode/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Coverage reports
htmlcov/
.coverage

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# YOLO model weights
*.pt
